@use "sass:map";
//@use "header";
@import "styles/pages/all";

.header__main {
  //background: #2575fc;

  .header__logo {
    padding: 15px 0;
    display: flex;

    align-items: center;
    justify-content: flex-start;
    height: 54px; /* Chiều cao tính toán: 15px (padding-top) + 24px (height ảnh cũ) + 15px (padding-bottom) */
    img {
      max-height: 100%;
      width: auto;
      display: block;
    }
    .header__brand {
      h4 {
        margin: 0; /* Loại bỏ margin mặc định của h4 */
        color: map.get($theme-colors, "bold-text"); /* Sử dụng màu chữ hiện tại */
        font-size: 1.2em; /* Điều chỉnh kích thước chữ nếu cần */
        font-weight: bold;
      }
    }
  }




  .header__menu {
    padding: 24px 0;

    ul {
      display: flex;
      justify-content: space-between;

      li {
        list-style: none;
        position: relative;

        a {
          text-decoration: none;
          font-size: 14px;
          color: map.get($theme-colors, "bold-text");
          text-transform: uppercase;
          font-weight: bold;
          letter-spacing: 2px;
          transition: all 0.3s;
          padding: 5px 0;
          display: block;
        }
      }

      li:hover .header__menu__dropdown {
        opacity: 1;
        visibility: visible;
      }

      .active a {
        color: map.get($theme-colors, "main");
      }

      .header__menu__dropdown {
        background: #222222;
        display: block;
        position: absolute;
        width: 180px;
        z-index: 9;
        padding: 5px 0;
        transition: all, 0.3s;
        opacity: 0;
        visibility: hidden;

        li {
          a {
            text-transform: capitalize;
            color: #ffffff;
            font-weight: 400;
            padding: 5px 15px;
          }

          :hover {
            color: map.get($theme-colors, "main");
          }
        }
      }

    }
  }

  .header__cart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;

    ul {
      display: flex;
      margin-right: 25px;

      li {
        list-style: none;
        position: relative;
        margin-left: 20px;

        svg {
          font-size: 25px;
          color: map.get($theme-colors, "normal-text");
        }

        span {
          color: white;
          background: map.get($theme-colors, "main");
          position: absolute;
          height: 20px;
          width: 20px;
          border-radius: 50%;
          display: inline-block;
          text-align: center;
          line-height: 20px;
          font-size: 13px;
          font-weight: 500;
          left: 15px;
          top: -6px;
        }
      }
    }
  }
}
